---
import PageHeader from "@/components/PageHeader.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Courses" description="Lab courses">
  <PageHeader title="Courses" />
  <section class="section">
    {}
  </section>
</BaseLayout>
