---
import PageHeader from "@/components/PageHeader.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Join Us" description="Lab join">
  <PageHeader title="Join Us" />
  <section class="section">
    {}
  </section>
</BaseLayout>
